<!DOCTYPE html>
<html>
<head>
    <title>Pagina Index Handlebars</title>
</head>
<body>
    <h2> Pagina main Handlebars </h2>
    
    {{{body}}}
      
      <h3> parte de baixo </h3>
</body>
</html>