<div>
    <h1>Tudo pronto para trabalhar com Websockets!</h1>
</div>
<div>
    <h2>WebSocket Server Example</h2>
    <form id="message-form">
        <input type="text" id="message-input" placeholder="Enter a message">
        <button type="submit">Send</button>
</div>
<div>
    <h3>Mensagens trocadas</h3>
    <ul id="messages"></ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="../public/socket.js"></script>