<!DOCTYPE html>
<html>

<head>
    <title>Websockets - Handlebars</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <h3>Websockets - Handlebars</h1>

        {{{body}}}

</body>

</html>