<div>
    <form action="http://localhost:8080/api/usuario" method="POST">
    <label for="nome">nome:</label>
    <input type="text" id="nome" name="nome" required><br>

    <label for="sobrenome">sobrenome:</label>
    <input type="text" id="sobrenome" name="sobrenome" required><br>

    <label for="email">email:</label>
    <input type="text" id="email" name="email" required><br>   

    <input type="submit" value="Register">
  </form>
</div>