<div>
    <h1>Tudo pronto para trabalhar com Websockets + Sweetalert!</h1>
</div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>